@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap');

@mixin monsterrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin open-sans {
    font-family: 'Open Sans', sans-serif;
}

@mixin roboto {
    font-family: 'Roboto', sans-serif;    
}
