.navigation-bar {
    color: white;
    background-color: #1d3030;
    padding: 1rem;
}

.main-banner {
    color: white;
    background-color: #144650;
    display: block;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}