<section>
    <div class="container">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <ul class="carousel__slides">
                <li *ngFor="let img of imageUrls" class="carousel__slide">
                    <div>
                        <img src={{img}} alt="">
                    </div>
                </li>
            </ul>    
            <ul class="carousel__thumbnails">
                <li *ngFor="let thumb of imageThumbs; index as i">
                    <label for="slide-{{i+1}}"><img src={{thumb}} alt=""></label>
                </li>
            </ul>
        </div>
    </div>
</section>